@import 'custom.scss';
@import 'node_modules/bootstrap/scss/bootstrap';

.pointer{
    position: fixed;

    &::before{
        position: absolute;
        content: ' ';
        width: 2px;
        height: 20px;
        background-color: #000;
    }
    &::after{
        position: absolute;
        transform: rotate(90deg);
        content: ' ';
        width: 2px;
        height: 20px;
        background-color: #000;
    }
}